
<!DOCTYPE HTML>

<html>
	<head>
    	<meta charset="utf-8">
	    <title>Avaliacao Professores</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    
	    <!-- Le styles -->
	    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">
	    <style type="text/css">
	      body {
	        padding-top: 60px;
	        padding-bottom: 40px;
	      }
	    </style>
	    <link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

	    <!-- Fav and touch icons -->
	    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{STATIC_URL}}bootstrap/ico/apple-touch-icon-144-precomposed.png">
	    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{STATIC_URL}}bootstrap/ico/apple-touch-icon-114-precomposed.png">
	      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{STATIC_URL}}bootstrap/ico/apple-touch-icon-72-precomposed.png">
	                    <link rel="apple-touch-icon-precomposed" href="{{STATIC_URL}}bootstrap/ico/apple-touch-icon-57-precomposed.png">
	                                   <link rel="shortcut icon" href="{{STATIC_URL}}bootstrap/ico/favicon.png">
  </head>

  <body>


	<div id="fb-root"></div>
	<script>
	  var logou = 0;
	  window.fbAsyncInit = function() {
	    // init the FB JS SDK
	    FB.init({
	      appId      : '688068744539085',                        // App ID from the app dashboard
	      status     : true,                                 // Check Facebook Login status
	      cookie     : true,
	      xfbml      : true                                  // Look for social plugins on the page
	    });

	  // Load the SDK asynchronously
	  // Additional initialization code such as adding Event Listeners goes here
	  // Here we subscribe to the auth.authResponseChange JavaScript event. This event is fired
	  // for any authentication related change, such as login, logout or session refresh. This means that
	  // whenever someone who was previously logged out tries to log in again, the correct case below 
	  // will be handled. 
	  FB.Event.subscribe('auth.authResponseChange', function(response) {
	    // Here we specify what we do with the response anytime this event occurs. 
	    if (response.status === 'connected') {
	      // The response object is returned with a status field that lets the app know the current
	      // login status of the person. In this case, we're handling the situation where they 
	      // have logged in to the app.
	      testAPI();
	    } else if (response.status === 'not_authorized') {
	      // In this case, the person is logged into Facebook, but not into the app, so we call
	      // FB.login() to prompt them to do so. 
	      // In real-life usage, you wouldn't want to immediately prompt someone to login 
	      // like this, for two reasons:
	      // (1) JavaScript created popup windows are blocked by most browsers unless they 
	      // result from direct interaction from people using the app (such as a mouse click)
	      // (2) it is a bad experience to be continually prompted to login upon page load.
	      FB.login();
	    } else {
	      // In this case, the person is not logged into Facebook, so we call the login() 
	      // function to prompt them to do so. Note that at this stage there is no indication
	      // of whether they are logged into the app. If they aren't then they'll see the Login
	      // dialog right after they log in to Facebook. 
	      // The same caveats as above apply to the FB.login() call here.
	      FB.login();
	    }
	  });

	  };
	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/all.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	

          // Here we run a very simple test of the Graph API after login is successful. 
	  // This testAPI() function is only called in those cases. 
	  function testAPI() {
	    console.log('Welcome!  Fetching your information.... ');
	    FB.api('/me', function(response) {
	      console.log('Good to see you, ' + response.name + response.id + '.');
	      habilitarVoto(response.id);
	    });
	  }
	  function habilitarVoto(userId)
	  {
	      var node = document.getElementById('corpo');
	      var lista= '{{professor.alunos}}';
	      var alunos = lista.split(',');
	      if(alunos.indexOf(userId) <= -1)
		      node.innerHTML = node.innerHTML + ("<a class=\"btn\" href=\"#\" onclick=\"document.getElementById(\'{{professor.id}}\').submit()\">Votar</a>");
	  }
	</script>
	
	
	<!--
	  Below we include the Login Button social plugin. This button uses the JavaScript SDK to
	  present a graphical Login button that triggers the FB.login() function when clicked.

	  Learn more about options for the login button plugin:
	  /docs/reference/plugins/login/ -->

	<fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>






    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Avalia&ccedil;&atilde;o Professores</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/todos">Lista professores</a></li>
              <li><a href="/top">Top 10</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="row-fluid">
      	<div class="span4 offset0" style="text-align:left">
		{% if professor %}
			<img src="http://media.teamxbox.com/staff/yggr_shock.jpg" alt="140x140" class="img-rounded" style = "width: 300; height: 300px"></img>
		{% endif %}
		</div>
      	{% if professor %}
		<div class = "panel panel-primary">
			<div class = "panel-heading">
	      		<h1> {{professor.nome}}<br/><br/><h1>
			</div>
			<div class = "panel-body" id = 'corpo'>
				<font size = "5">Categoria1: {{professor.notaCat1|floatformat:"2"}}<br/><br/></font>
				<font size = "5">Categoria2: {{professor.notaCat2|floatformat:"2"}}<br/><br/></font>
				<font size = "5">Categoria3: {{professor.notaCat3|floatformat:"2"}}<br/><br/></font>
				<font size = "5">Media: {{professor.media|floatformat:"2"}}<br/><br/></font>
				<font size = "5">Numero de votos: {{professor.numVotos}}<br/><br/></font>
				<form action='/votar/' id="{{professor.id}}" method="post">
		        {% csrf_token %}
		            <input type="hidden" name="code" value="{{professor.id}}">
			    <script>
			    		    if(window.logou == 1)
						    document.write("<a class=\"btn\" href=\"#\" onclick=\"document.getElementById(\'{{professor.id}}\').submit()\">Votar</a>");
			    </script>
		        </form>
			</div>
      	</div>
      	{% endif %}

      <hr>

      <footer>
        <p>&copy; Flocos 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.js"></script>
  </body>
</html>
